{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h2>Wings of Fire Generators</h2>
    <p>Welcome to wofgen, home to numerous Wings of Fire-related generators!</p>

    <h3>Character Generators</h3>
    <ul>
        <li><a href="{{ path('app_generator_simple_character') }}">Simple Character</a></li>
    </ul>

    <h3>Name Generators</h3>
    <ul>
        <li><a href="{{ path('app_generator_names', {tribe: 'hivewings'}) }}">HiveWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'icewings'}) }}">IceWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'leafwings'}) }}">LeafWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'mudwings'}) }}">MudWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'nightwings'}) }}">NightWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'rainwings'}) }}">RainWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'sandwings'}) }}">SandWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'seawings'}) }}">SeaWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'silkwings'}) }}">SilkWing Names</a></li>
        <li><a href="{{ path('app_generator_names', {tribe: 'skywings'}) }}">SkyWing Names</a></li>
    </ul>
{% endblock %}
